@model WebApplication4.Models.Weather

<h2 style="text-align-last: center;">Weather for @Model.Region</h2>
<p style="text-align-last: center;">Temperature: @Model.Temperature °C</p>
<p style="text-align-last: center;">Description: @Model.Description</p>
