@model WebApplication4.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form method="post">
        <label for="UserName">User Name</label>
        <input type="text" asp-for="UserName"/><br><br>

        <label for="UserEmail">User e-mail</label>
        <input type="email" asp-for="UserEmail"/><br><br>

        <label for="Date">Date</label>
        <input type="datetime-local" asp-for="Date" required min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" /><br><br>

        <select name="Product" id="Product">
            <option value="JavaScript">JavaScript</option>
            <option value="C#,">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="Основи">Основи</option>
        </select><br><br>

        <input type="submit" value="Save" />

    </form>
</body>
</html>
